*{
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:rgb(45, 69, 136);
  font-size: 20px;
}

a:hover {
  border: 2px solid rgb(127, 127, 124);
  padding: 2px 2px;
  background-color: beige;
  color: rgb(60, 223, 220);
  transition-duration: 2s;
}

h1 {
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

button {
  border-radius: 90px;
}

label {
  margin-right: 40px;
  font-weight: bold;
}

input {
  width: 30%;
  padding: 2px 2px;
  margin-bottom: 20px;
  border: 0.5px solid rgb(14, 13, 13);
  border-radius:30px;
}


li {
  background-color: rgb(231, 124, 223);
  margin-top: 15px;
  padding: 5px 15px;
  width: 80%;
  font-size: 14px;
  color: rgb(22, 20, 20);
  border: 1px solid rgb(89, 41, 95);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 50px;
 
}

#highScore li:first-child {
  color:gold;
}

#everything {
  position: absolute;
  left: 30%;
  top: 20%;
  width: 600px;
  height: 400px;
}

#startbtn {
  background-color: rgb(231, 124, 223);
  margin-left: 33%;
  padding: 15px 32px;
  font-size: 20px;
  color: white;
}

#startbtn:hover {
background-color: aqua;
transition-duration: 2s;
cursor: pointer;
}

#qcontainer {
  margin: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#qcontainer ul:hover {
  cursor: pointer;
}

#cont2 {
  margin-top: 20px;
  border-top: 1px solid lightgray;
}

#Time {
  float: right;
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#backbtn {
  background-color:rgb(231, 124, 223);
  position: relative;
  padding: 7px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: rgb(18, 16, 16);
  left: 55%;
  cursor: pointer;
}

#backbtn:hover {
  color: gold;
}

#clearbtn {
  background-color:rgb(231, 124, 147);
  position: relative;
  padding: 7px;
  font-size: 20px;
  color: rgb(18, 16, 16);
  right: 5%;
  cursor: pointer;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#clearbtn:hover {
  color:gold;
}

.submitbtn {
  background-color:rgb(231, 124, 223);
  margin-left: 36%;
  padding: 5px 25px;
  font-size: 27px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: beige;
  cursor: pointer;
}

.submitbtn:hover {
  background-color: rgb(60, 223, 220);
}
